<!DOCTYPE html>
<html>
  <head>
    <title>Portable CouchDB Applications - CouchApp.org</title>
    <link rel="stylesheet" href="/style/main.css" type="text/css">
    <link rel="stylesheet" href="/style/screen.css" type="text/css">
  </head>
  <body>
    <h1><a href="/">CouchApp.org</a></h1>
    <div id="links">
      <div class="portal" id="why">
        <div class="video">
          <object width="325" height="260"><param name="movie" value="http://www.youtube.com/v/qJbfRZz6qNY&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/qJbfRZz6qNY&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="325" height="260"></embed></object>
        </div>
        <h3><a href="/why">Why CouchApp?</a></h3>
      </div>

      <div class="portal" id="docs">
        <div class="icon">
          <img src="images/docs.png"/>
        </div>
        <h3><a href="/couchapp/_design/couchapp.org/vendor/couchapp/docs.html">Documentation</a></h3>
      </div>

      <div class="portal" id="garden">
        <div class="icon">
          <img src="/images/icon.png"/>
        </div>
        <h3><a title="See demos and install your own CouchApps" href="/garden/_design/garden/index.html">App Garden</a></h3>
      </div>
    </div>
      <ul id="posts">
        {{#posts}}
          <li>
            <h3><a href="{{ link }}">{{ title }}</a></h3>
            
            {{{body}}}
            
            {{#has_tags}}
              <div class="tags">
                {{#tags}}
                  <a href="{{link}}">{{tag}}</a>
                {{/tags}}
              </div>
            {{/has_tags}}
            <div class="by">
              <span class="date">{{ date }}</span> 
              by {{author}}
            </div>
          </li>
        {{/posts}}
    </ul>
    <p id="more"><a href="{{ index }}">Read more on the CouchApp blog</a></p>
    <div id="tagcloud"></div>
  </body>
  {{>scripts}}
  <script type="text/javascript" charset="utf-8">
    $.couch.app(function() {
      $("#tagcloud").evently(this.ddoc.evently.tagcloud, this);
    }, {
      db : "couchapp",
      design : "couchapp.org"
    });
  </script>
</html>
