/* add styles here */

body {
  font: 1em Helvetica, sans-serif;
  padding:0;
  margin:0;
/*  background:url(/images/tile.png);*/
  background:#eee;
}

h1 {
/*  background:#feb;*/
  padding:0.5em;
  margin:0;
  font-size:5em;
  text-align:center;
}

h1 a {
  text-decoration:none;
}

#links, #more {
  text-align:center;
}

.portal {
  display:inline-block;
  margin:10px;
  padding:2em;
}

.video, .icon {
  width:325px;
  height:260px;
  overflow:hidden;
  text-align:center;
  border:8px solid #999;
}

.icon img {
  margin:0 auto;
}


.tags a, #tagcloud a {
  color:#bbb;
}
.tags a:hover, #tagcloud a:hover {
  color:#9b9;
}

.tags, .by {
  font-size:80%;
  color:#666;
  margin-top:0;
}

ul#posts {
  margin:0 auto;
  width:50%;
}